<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Quiz App</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<style>
		#hud {
			background: white;
			border: 1px solid gray;
			bottom: 0;
			margin: 20px;
			min-width: 220px;
			position: fixed;
			right: 0;
			top: 0;
			width: 25%;
			overflow: auto;
		}
		#lines {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		#lines li {
			height: 100px;
		}
		#lines li:nth-child(odd) {
			background-color: lightgray;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="appController">
		<div id="hud">
			<ul>
				<li ng-repeat="l in inviewLogs" ng-bind-html="l.message"></li>
			</ul>
		</div>

		<ul id="lines">
			<li ng-repeat="t in testLines" in-view="lineInView($index, $inview, $inviewInfo)" in-view-options="{ generateParts: true }">This is test line #{{$index}}</li>
		</ul>
	</div>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-messages.min.js"></script>
<script src="node_modules/angular-inview/angular-inview.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script>
	var app = angular.module("app",['angular-inview']);

	app.controller("appController",function($scope,$sce){
		var logId = 0;
		$scope.testLines = [];

		for(var i=20;i>=0;i--) {
			$scope.testLines.push(i);
		}

		$scope.inviewLogs=[];
		$scope.lineInView = function(index,inview,inviewInfo) {
			var inViewReport = inview ? '<strong>enters</strong>' : '<strong>exit</strong>';
			var inviewpart = [];
			for(var p in inviewInfo.parts) {
				if(inviewInfo.parts[p]) {
					inviewpart.push(p);
				}
			}
			inviewpart = inviewpart.length % 4 === 0 ? 'all' : inviewpart.join(', ');
			if (typeof(inviewpart) != 'undefined') {
				inViewReport = '<strong>' + inviewpart + '</strong> parts ' + inViewReport;
			}
			$scope.inviewLogs.unshift({ id: logId++, message: $sce.trustAsHtml('Line <em>#' + index + '</em>: ' + inViewReport) });
			return false;
		}
	});
</script>
</body>
</html>